<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.birjot.gndec_sports_admin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/photo6104773795236653005"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SigninActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Graphs"
            android:label="@string/title_activity_graphs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Developers" />
        <activity android:name=".Activities.AddNews" />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Services.MyUploadService" />
        <service android:name=".Services.MyBaseTaskService" />

        <activity android:name=".Activities.Athletics" />
        <activity android:name=".Activities.AddMeetNews" />
        <activity android:name=".Activities.ContactUs" />
        <activity android:name=".Games_Activities.LawnTennis" />
        <activity android:name=".Games_Activities.Swimming" />
        <activity android:name=".Games_Activities.gym" />
        <activity android:name=".Games_Activities.chess" />
        <activity android:name=".Games_Activities.volleyball" />
        <activity android:name=".Games_Activities.cricket" />
        <activity android:name=".Games_Activities.billiards" />
        <activity android:name=".Games_Activities.Hockey" />
        <activity android:name=".Activities.AddAthResult" />
        <activity android:name=".Activities.UploadPdfActivity" />
        <activity android:name=".Games_Activities.Handball" />
        <activity android:name=".Games_Activities.Cycling" />
        <activity android:name=".Games_Activities.Badminton" />
        <activity android:name=".Games_Activities.Kabadi" />
        <activity android:name=".Games_Activities.Shooting" />
        <activity android:name=".Games_Activities.Football" />
        <activity android:name=".Games_Activities.BasketBall" />
        <activity android:name=".Activities.SlideUpActivity" />
        <activity android:name=".Activities.AddIntra" />
        <activity android:name=".Activities.AddExtra" />
        <activity android:name=".Activities.AddPtuStar" />
        <activity android:name=".Activities.AddBestAth" />
        <activity android:name=".Activities.AddInterversity" />
        <activity android:name=".Activities.Buttonachieve"></activity>
    </application>

</manifest>