<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.birjot.gndec_sports_admin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/photo6104773795236653005"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SigninActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SignUpActivity" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Graphs"
            android:label="@string/title_activity_graphs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Games_Activities.BasketBall"
            android:label="@string/title_activity_basket_ball"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Games_Activities.FootBall"
            android:label="@string/title_activity_foot_ball"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Developers" />
        <activity android:name=".Activities.AddNews"></activity>
    </application>

</manifest>